@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

:root {
  --primary-color: #4d41c0;
  --bg-gray: #e8e8e8;
  --white: #fff;
}

* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

html,
body {
  background-color: var(--bg-gray);
}

header {
  background-color: var(--primary-color);
  color: var(--white);
}

nav {
  display: flex;
  text-align: center;
  justify-content: space-between;
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}
