@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

:root {
  --primary-color: #4d41c0;
  --bg-gray: #e8e8e8;
  --white: #fff;
}

* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

html,
body {
  background-color: var(--bg-gray);
}

header {
  background-color: var(--primary-color);
  color: var(--white);
  height: 60px;
  display: flex;
  align-items: center;
}

nav {
  display: flex;
  text-align: center;
  justify-content: space-between;
}

nav h1 {
  font-size: 24px;
  font-weight: 700;
}
nav a {
    font-size: 12px;
    font-weight: 700;
}
a,
a:hover {
  text-decoration: none;
  color: unset;
}

.dsmovie-contac-container {
  display: flex;
  align-items: center;
}

.dsmovie-contac-container img {
  margin-left: 10px;
}
